body {
	background-color:gold;
}


h1 {
	color:cadetblue;
}

.order {
	color:darkviolet;
}

.list {
	color:maroon;
}

.conditions {
	color:crimson;
}

.list_2 {
	color:indianred;
}

a {
	color:mediumblue;
}

.text {
	color:darkblue;
}

q {
	color:dodgerblue;
}

